.carItem {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #f9f9f9;
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkButton {
  display: block;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.linkButton:hover .carItem {
  background-color: #e0e0e0;
}
