.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.carListContainer {
  display: flex;
  flex-wrap: wrap;
}

.carItem {
  width: calc(33.333% - 20px);
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.carItem h2 {
  margin-top: 0;
}

.carItem p {
  margin: 0;
}
